#quadro-kanban {
    position: relative;
    margin: auto;
    max-width: min(80rem, 100vw);
    overflow: auto;
}

#quadro-kanban>*:not(button) {
    padding-inline-start: 1rem;
}

#quadro-kanban>button {
    margin-inline-start: 1rem;
}

#quadro-header {
    display: flex;
    max-width: min(80rem, 100vw);
    overflow: auto;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
    width: fit-content;
}

#quadro-header p {
    font-size: 1.2rem;
}

#modal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-self: center;
    border: 1px;
}

.coluna-container {
    background-color: var(--lighter-gray);
    margin-top: .5rem;
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
}

.coluna-kanban {
    max-width: 20rem;
    display: flex;
    gap: .5em;
    flex-direction: column;
}

.header-coluna {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5em;
}

.titulo-coluna {
    font-size: 1rem;
}

.card {
    background-color: var(--white);
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: .5em;
    padding: 0.5em;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 8%);
}

.titulo-card {
    font-size: 1rem;
    font-weight: bold;
}

.descricao-card {
    font-size: .875rem;
    text-align: justify;
}

.tag-container {
    border-top: 1px solid var(--light-gray);
    display: flex;
    flex-direction: row;
    padding-top: .2em;
    gap: .25em;
}

.tag {
    font-size: .7rem;
    background-color: var(--lighter-gray);
    padding: .3em;
    border-radius: 1em;
}


.botoes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-deletar {
    max-width: fit-content;
}

.container-radio-button {
    display: flex;
    gap: .3em;
    flex-wrap: wrap;
}

button {
    border-radius: .6em;
}

button#criar-coluna {
    margin-top: 2rem;
}