.lista-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-block: .3em;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .2em;
}